.main-header {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 45px;
}

.ul-menu{
    font-size: 14px;
    display: flex;
    align-items: center;
    list-style: none;
}

.main-action {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    margin-right: 19px;
}

.element{
    background-color: #9c9c9c69;
    padding: 13px 5px;
    margin: 0 auto;
    margin-right: 8px;
}

.red-element::after{
    content: "";
    background-color: #ff0000;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: 5px;
    vertical-align: middle;
}

.bold-color{
    font-weight: bold;
}

.menu-mobile{
    display: none;
}

@media (max-width:989px){
    .ul-menu{
        display: none;
    }

    .ul-menu-mobile{
        display: block;
        position: absolute;
        list-style: none;
        background-color: #000;
        height: 100%;
        width: 100%;
        top:35px;
        transition: all 0.3 ease-out;
        left: 0;
    }

    .menu-mobile{
        display: block;
        position: absolute;
        font-size: 30px;
        color: #fff;
        background-color: #000;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }

    .ul-menu-mobile .main-action{
        margin: 15px;
    }

    .ul-menu-mobile .main-action:hover{
        filter: brightness(150%);
    }

    .element{
        margin-top: 35px;
    }

    .main-header{
        margin-top: 0;
        height: 60px;
    }
    
}