.icon{
    position: absolute;
    z-index: 4;
    left: 1%;
    width: fit-content;
    height: 44px;
    cursor: pointer;
}

.hamburguer{
    top: 50%;
    left: 10%;
    width: 30px;
    height: 6px;
    background-color: #000;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.hamburguer::before{
    content: '';
    top:-12px;
    position: absolute;
    width: 37px;
    height: 6px;
    background-color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.hamburguer::after{
    content: '';
    top:12px;
    position: absolute;
    width: 37px;
    height: 6px;
    background-color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}