@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto', monospace;
}

figure{
    margin: 0;
}

html, body{ 
    height:100%;
    margin:0; 
    background-color: #FAFAFA;
}

body, h1, h2, p, ul, li, a{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}